body {
  color: white;
}

#app-center-container{
  margin-top: 40px;
  display: flex;
  width: 800px;
  align-items: center;
  flex-direction: column
}

#clock-container {
  border: 1px solid black;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  #clock-display {
    font-size: 3.5em;
  }
}
#quote-container{
  border: 1px solid black;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#quote-button-container {
  margin-top: 10px;
}
