* {
  margin: 0;
}

body {
  color: white;
}
#root {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}
#main-focus {
  border: 1px solid red;
  text-align: center;
  padding: 2px;
}

#delete-focus{
  position: absolute;
  border: 1px solid black;
  opacity: 0;
  // width: 50px;
  margin: 0 60px;
  color: tomato;
  transition: 0.2s linear;
  padding: 0 5px;
  // width: 60px;


}
h1:hover #delete-focus {
  opacity: 1.0;
}

#app-center-container{
  border: 1px solid red;
  margin-top: 40px;
  display: flex;
  width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

#clock-container {
  border: 1px solid red;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  margin-top: 130px;
  #clock-display {
    font-size: 6em;
    margin-bottom: 15px;
  }
  #greeting-display {
    font-size: 2.5em;
    // color: blue;
  }
}
#quote-container{
  border: 1px solid black;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #quote-text {
    font-size: 1.2em;
  }
  #quote-button-container {
    margin-top: 10px;
  }
}
.prompt {
  margin-bottom: 20px;
  h3 {
    font-size: 1.4em;
  }
  input {
    background-color: transparent;
    font-size: 1.3em;
    width: 300px;
    border: 1px solid transparent;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    &:focus{
      // border:2px solid red;
      outline: none;

    }
  }
}

#weather-container {
  border: 1px solid black;
  position: absolute;
  margin-top: 10px;
  right: 20px;
  #weather-display {
    color: white;
    font-size: 22px;
  }
}
