* {
  margin: 0;
}

body {
  color: white;
}
#root {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}

#app-center-container{
  border: 1px solid red;
  margin-top: 40px;
  display: flex;
  width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

#clock-container {
  border: 1px solid black;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  margin-top: 100px;
  #clock-display {
    font-size: 5em;
  }
}
#quote-container{
  border: 1px solid black;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #quote-button-container {
    margin-top: 10px;
  }
}


#weather-container {
  border: 1px solid black;
  position: absolute;
  margin-top: 10px;
  right: 20px;
  #weather-display {
    color: white;
    font-size: 22px;
  }
}
